body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #2e2e2e;
    color: #fff;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
}

label {
    margin-top: 10px;
    color: #fff;
}

#boardSize {
    margin: 10px;
    padding: 5px;
}

#passButton {
    margin: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#passButton:hover {
    background-color: #45a049;
}

#board {
    display: grid;
    margin-top: 20px;
    background-color: #b88b4f; /* رنگ بورد واقعی‌تر */
    position: relative;
}

.cell {
    width: 100%;
    height: 100%;
    background-color: #f0d9b5; /* رنگ تقاطع‌ها */
    position: relative;
    transition: background-color 0.3s;
}

.cell:hover {
    background-color: #e0cdbd;
}

.stone {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s, opacity 0.3s;
}

.black {
    background-color: #000;
}

.white {
    background-color: #fff;
    border: 1px solid #000;
}

.grid-line {
    position: absolute;
    background-color: #333;
    z-index: 1;
}

.grid-line.horizontal {
    width: 100%;
    height: 1px;
}

.grid-line.vertical {
    height: 100%;
    width: 1px;
}

#status {
    margin-top: 20px;
    color: #fff;
}

